html {
  font-size: 16px;
  color: dimgray;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;

}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4  {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.75rem;
  padding-top: 1.5rem;
}

p {
  line-height: 1.25rem;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

video {  width: 100%;
  height: auto;
  overflow: hidden;
  }

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  width: 60%;
  align-items: flex-start;
  margin: 2rem 1.5rem;
}
/*
.container {
  width: 960px;
  border: 1px solid aquamarine;
  }
  */


header {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
}

ul.mobile-screen {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav img {
  width: 3rem;
  height: auto;
  padding-left: 1.5rem;
}
nav span {
  font-size: 2rem;
}
.lighter {
  color:lightgrey;
}

ul {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;
  padding-right: 0.5rem;
}

li {
  padding-right: 1rem;

}

@media only screen and (max-width:470px) {
  ul {display: none;}
  .logo span {display: none;}
  ul.mobile-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
  ul img {
    width: 3rem;
    height: auto;
  }
}

/* Learn */

#learn {
  padding-top:4rem;
  display: flex;
  flex-direction: row;
  background-color: lightPink;
}

.left-side {
  display: flex;
}

.text-content {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  padding-bottom: 2rem;
}

.button {
  background-color: #FA8072;
  padding: 0.5rem 6rem;
  color: white;
}

@media only screen and (max-width:470px){
  #learn{
    flex-direction: column;
    justify-content: center;
  }
  #learn .main{
    width: 100%;
    margin:0rem;
  }
  #learn .image-content {
    width: 100%;
  }

  #learn h1 {
    padding: 2rem 1rem;
  }
  #learn h3 {
    padding-bottom: 1.5rem;
  }
  #learn .button {
    margin-bottom: 2rem;
  }
}

#practicing, #thesis  {
  display: flex;

  }


#practicing .text-content, #thesis .text-content {
  display: flex;
  align-items: flex-start;
  width: 90%;
  }

#practicing .column-about, #thesis .column-about {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-top: 1rem;
  margin-left: 1rem;
}

#practicing .about, #thesis .about {
  display: flex;
  padding: 1rem 0rem;
}
#practicing .about .image-content, #thesis .about .image-content {
  width: 35%;
  margin: 0rem 0rem;
}

#practicing .about .text-content, #thesis .about .text-content {
  width: 65%;
  padding: 0rem 1rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
}

#practicing .about p, #thesis .about p {
  padding: 0.5rem 0rem;
  font-size: 0.9rem;
}

span.read {
  color: blue;
  font-size: 0.75rem;
}

@media only screen and (max-width:470px){
#practicing .main {
  display: none;
}
#practicing .column-about{
  width: 100%;
  padding: 1rem;
}
#practicing .about {
  flex-direction: column;
  align-items: center;
}
#practicing .about .image-content{
  width: 100%;
}
#practicing .about .text-content{
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
#practicing .about .text-content {
  width: 100%;
}
#practicing img {

}
}

/* COURSES */

#courses {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

#courses .course{
  margin: 0rem 1rem 2rem 1rem;
  width: 27.5%;

}

#courses .course .text-content {
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  align-items: flex-start;
}

#courses .course span {
  text-align: left;
  margin: 0.5rem 0rem;
}

.courses.mobile-screen {
  display: none;
}

@media only screen and (max-width:470px){
  #courses {display: none}
  .courses.mobile-screen {
    display: block;
    margin-bottom: 2rem;
  }
  .courses.mobile-screen h2{
    text-align: center;
    padding-bottom: 1rem;
  }
  .courses.mobile-screen h3{
  padding: 1rem 10rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: pink;
  }
}

#thesis .main {
  margin-top: 0rem;
}

#thesis h4{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.thesis.mobile-screen {
  display: none;
}

@media only screen and (max-width:470px){
  #thesis {
    display: none;
  }
  .thesis.mobile-screen {
    display:block;

  }
  .title h2 {
    margin-bottom:1rem;
  }

}

footer {
  display: flex;
  color: dimgray;
  padding: 1rem 1.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

footer ul {
  padding-right: 1.5rem;
}

@media screen only and (max-width:470px){
  footer ul {
    display: none;
  }
}
